* {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
  color: #fff;
}

html,
body {
  background-color: #000;
}

a {
  color: #00cc00 !important;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import '../node_modules/nes.css/css/nes.css';
