$cursor-url: url('/assets/cursor.png') !default;
$cursor-click-url: url('/assets/cursor-click.png') 14 0 !default;

@import '8bit/8bit.scss';

* {
  font-size: 0.75rem;
  box-sizing: border-box;
}

a {
  color: #00cc00 !important;
  text-decoration: none;
}

img,
canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
